/* ========================= FONTS ======================== */

/* @font-face {
    font-family: "Articulat";
    src: url(../fonts/articulat-light.ttf);
    font-weight: 300;
} */
  @font-face {
     font-family: "Articulat";
    src: url(../fonts/articulat-regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Articulat";
    src: url(../fonts/articulat-medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Articulat";
    src: url(../fonts/articulat-demibold.ttf);
    font-weight: 600;
} 


/* ========================= GENERAL TAGS ======================== */
html, body {
    font-family: "Articulat", sans-serif;
    font-weight: 500;
}

#active-link {
    opacity: 1;
    color: black;
}
#active-link-mobile {
    opacity: 1;
    color: white;
}

/* ========================= Layout ======================== */
.custom-container {
    width: 90%;
    margin: 0 auto;
}
.banner {
    background-color: #000000;
    height: 55vh;
    border-radius: 1px;
    opacity: 1;
}

.intro-block {
    /* color: #a4a4a4; */
    color: #9A9A9A;
    padding-top: 80px;
    padding-bottom: 50px;
    
}
.intro-title {
    font-size: 2rem;
    line-height: 43px;
    letter-spacing: 0.2px;
    font-weight: 500;
}
.networks-list {
    padding-left: 0;
}
.networks-list li {
    display: inline;
    margin-right: 20px;
}

.header-network {
    width: 27px;
    height: 27px;

}
.resume {
    width: 28px;
    height: 28px;
}

.project-showcase {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #383838, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #383838, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    min-height: 30vh;
    border-radius: 1px;
    opacity: 1;
}

.showcase-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 25px;
}
small {
    font-size: 1em;
    opacity: 0.8;
    
}
.sproject-title {
    margin-top: 5px;
    font-size: 3em;
    margin-bottom: 20px;
}
.rego-img {
    width: 65%;
    height: 65%;
}
.sproject-role, .sproject-client {
    display: none
}
.project-container {
    position: relative;
    text-align: center;
    margin-bottom: 45px;
}

.project-img {
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  
}
.concept-overlay {
    background-color: #181818;
}

.project-container:hover .overlay {
    opacity: 1;
}
.project-title {
    color: #222;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;t
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .concept-title {
    color: white;
}
  .project-category {
    color: #AAA;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  position: absolute;
  top: 59%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Project Pages */

.project-name {
    padding-top: 50px;
    padding-bottom: 75px;
}
.project-name h3 {
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0.8;
}
.project-name p {
    font-size: 1.5em;
    letter-spacing: 0.2px;
    color: rgba(93,93,93,0.7);
}

.novobanner-img {
    width: 100%;
    height: 350px;
    background: url(../images/presentation/novobanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.gvbanner-img {
    width: 100%;
    height: 350px;
    background: url(../images/presentation/gvbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.luobanner-img {
    width: 100%;
    height: 350px;
    background: url(../images/presentation/luoshowcase.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.dnvbanner-img  {
    width: 100%;
    height: 350px;
    background: url(../images/presentation/dnvmockup.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-introduction {
    padding-top: 5.5rem;
    padding-bottom: 4rem;
}

.projectsum h3 {
    font-weight: 600;
    font-size: 2.2rem;
    color: #000000;
}

.slogan {
    margin-top: 50px;
    font-size: 2rem;
    line-height: 30px;
}

.text-block {
    margin-top: 1.5rem;
    margin-bottom: 1.7rem;
}
.text-block span {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1a1e20;
}

.text-description {
    margin-top: 1rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
.project-description {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
    margin-top: 15px;
}
.add-info {
    margin-top: 1.5rem;
    display: inline-block;
    margin-right: 3rem;
}
.add-header {
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 1.5rem;
    color: #1a1e20;
}
.add-p {
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: 1px;
    line-height: 1.6rem;
}
 .section-header {
    color: #1a1e20;
}
.dp-section {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.dp-container {
    text-align: center;
    margin: 0 auto;
}

.dp-img {
    width: 100%;
    height: auto;
}
.research {
    padding-top: 7rem;
    padding-bottom: 4rem;
  
}
.research-container {
    padding-bottom: 3rem;
}
.upheader {
    text-transform: uppercase;
    font-weight: 600;
    color:  #afafaf;
    letter-spacing: 2.5px;
    font-size: 1.1rem;
}
.section-header {
    margin-top: 5px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
 
}
.research-p {
    font-size: 1.375rem;
    line-height: 2rem;
    letter-spacing: 1px;
    margin-top: 20px;
}
.research-title {
    font-size: 1.375rem;
    line-height: 2rem;
    letter-spacing: 0.1px;
    margin-top: 30px;
}
.research-stage {
    font-size: 1.375rem;
    line-height: 2rem;
    letter-spacing: 0.1px;
    letter-spacing: 1px;
    margin-top: 7px;
}

.uf-container {
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.uf-img {
    width: 100%;
    height: auto;
}
.showcase-img {
    margin-bottom: 25px;
}
.showcase-img img{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.showcase-title {
    color: #a4a4a4;
    font-size: 1.1rem;
}
.sub-p {
    padding-top: 5rem;
    padding-bottom: 6.5rem;
}
.testing {
    padding-top: 3rem;
    padding-bottom: 4.5rem;
}
.testing-p {
  /*   font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.1px;
    margin-top: 20px;
    font-weight: 400; */
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 2rem;
    letter-spacing: 0.1px;
    letter-spacing: 1px;
}
.novotest-container {
    margin-top: 5rem;
    text-align: center;
}
.novotest-img {
    width: 65%;
    height: auto;
}
.style {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.style-img {
    width: 100%;
    height: auto;
}
.logo-title {
    font-size: 2rem;
    font-weight: 500;
}
.logo-showcase {
    width: 100%;
    height: auto;
}
.profile {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.profile-img {
    width: 100%;
    height: auto;
}
.profile-header {
    margin-top: 40px;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1a1e20;
}
.profile-p {
    margin-top: 25px;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 32px;
    letter-spacing: 1px;
}
.network-item {
    margin-bottom: 30px;
}
.about-header {
    font-size: 0.8rem;
    font-weight: 600;
    color: #383838;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.network-title a{
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 45px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #1a1e20;
    border-bottom: 1.5px solid #E6E9ED;
    padding-bottom: 2px;
}
#network-link:hover {
    color: #d23c32;
}
.network-description {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #383838;
    letter-spacing: 1px;
}
.skills {
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.skills-list {
    padding-left: 0;
    list-style-type: none;
    color: #1a1e20;
    font-size: 18px;
    letter-spacing: 1px;
}
.skill {
    margin-bottom: 1.3rem;
}
.dnv-img {
    width: 100%;
    height: auto;
}
footer {
    margin-top: 20px;
}

/* ========================= Media Queries ======================== */

@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 1024px) {

    .showcase-block {
        text-align: left;
        padding-top: 70px;
        padding-bottom: 25px;
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .pshowcase-info {
        align-self: center;
        margin-top: -92px;
    }
    small {
        font-size: 1.1em;
        opacity: 0.8;
    }
    .sproject-title {
        margin-top: 0;
        font-size: 4.2em;
        margin-bottom: 20px;
    }
    .sproject-role {
        display: block;
        font-size: 1.3em;
        letter-spacing: 0.3px;
        margin-bottom: 7px;
    }
    .sproject-client {
        display: block;
        letter-spacing: 0.3px;
        font-size: 1.3em;
    }
    .sproject-img {
        text-align: right;
    }
    .rego-img {
        width: 65%;
        height: auto;
    }
    .slogan {
        line-height: 39px;
    }
    .novobanner-img {
        height: 90vh;
    }
    .gvbanner-img {
        height: 90vh;
    }
    .luobanner-img {
        height: 90vh;
    }
    .dnvbanner-img {
        height: 90vh;
    }
    .dp-container {
        width: 85%;
    }
    .section-header {
        margin-top:15px;
    }
    .add-info {
        margin-right: 7rem;
    }
    .research-container {
        padding-bottom: 7.5rem;
    }
    .testing {
        padding-top: 6.5rem;
        padding-bottom: 5.5rem;
    }
    .novotest-container {
        margin-top: 0;
        margin-left: 2.5rem;
    }
    .novotest-img {
        width: 50%;
        height: auto;
    }
    .style {
        padding-top: 6rem;
    }
    .profile-header {
        margin-top: 20px;
    }
    
}
@media (min-width: 1400px) {
    .intro-title {
        width: 87%;
    }
}